.container {
  display: flex; /* 가로 방향으로 요소를 정렬 */
  height: 100vh; /* 전체 화면 높이 */
}

.left,
.middle,
.right {
  flex: 1; /* 세 영역이 동일한 크기를 갖도록 설정 */
  overflow-y: auto; /* 필요할 경우 스크롤바 표시 */
  padding: 0px;
}

.left {
  border-right: 3px solid #ccc; /* 중앙과 오른쪽 영역 구분선 */
}

.middle {
  border-right: 1px solid #ccc; /* 오른쪽 영역 구분선 */
}

.review-item {
  min-height: 80px; /* 최소 높이 설정 */
  overflow: auto; /* 내용이 긴 경우 스크롤바 표시 */
  white-space: normal; /* 자동 줄바꿈 */
  margin-bottom: 12px; /* 아래쪽 마진 */
  padding: 10px; /* 패딩 */
  border: 1px solid #ccc; /* 경계선 */
  background-color: #f8f9fa; /* 배경색 */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 8px; /* 검색창과 버튼 간의 간격 설정 */
}

/* Add the search input style */
.search-input {
  padding: 8px 30px 8px 12px; /* 오른쪽에 X 버튼이 들어갈 공간을 만듭니다 */
  width: calc(100% - 40px); /* 버튼 너비만큼 입력 필드 너비 감소 */
  margin: 0; /* 기본 마진 제거 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.delete-button,
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px; /* 버튼의 너비 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.search-icon {
  width: 20px; /* Set a specific width */
  height: 20px; /* Set a specific height */
  background-image: url('../../../assets/search-light.png');
  background-size: cover; /* Cover the entire area of the div */
}
.search-button {
  background-color: transparent;
}
.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  border-color: #007bff;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.category-button {
  flex: 1;
  margin: 0 5px; /* 버튼 간의 간격 설정 */
  padding: 8px 16px; /* 패딩 추가 */
  font-size: 16px;
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 20px; /* 둥근 테두리 */
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
}

.category-button:hover {
  background-color: #0056b3;
}

.category-button.active {
  background-color: #007bff;
  color: #fff;
  border: none; /* 활성화된 버튼 테두리 제거 */
}

.scrollable-container {
  max-height: 800px; /* Adjust based on your preference */
  overflow-y: scroll;
}

.result-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.result-card:hover {
  background-color: #e9ecef;
}

.result-content {
  display: flex;
  flex-direction: column;
}

.result-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.result-types {
  font-size: 14px;
  color: #666;
}

.plus-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Adjust the map size */
.navermap {
  width: 100%;
  height: calc(100vh - 30px);
}

.button {
  font-family: 'Pretendard-Regular', sans-serif;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 8px 12px;
  font-size: 10px;
  border: 0px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.restaurant-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.back-button {
  width: 20px; /* Set a specific width */
  height: 20px; /* Set a specific height */
  cursor: pointer;
  background-image: url('../../../assets/free-icon-arrow-507257.png');
  background-size: cover;
}

.restaurant-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.restaurant-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.restaurant-info-icon {
  color: #2a9df4;
  font-size: 20px;
  margin-right: 10px;
}
.phone-icon {
  width: 30px; /* Set a specific width */
  height: 30px; /* Set a specific height */
  background-image: url('../../../assets/free-icon-phone-receiver-244809.png');
  background-size: cover; /* Cover the entire area of the div */
}

.address-icon {
  width: 30px; /* Set a specific width */
  height: 30px; /* Set a specific height */
  background-image: url('../../../assets/free-icon-house-6597708.png');
  background-size: cover; /* Cover the entire area of the div */
}

.restaurant-info-text {
  font-size: 16px;
  color: #333;
}

.review-section {
  max-height: 500px; /* 적절한 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤바 활성화 */
  padding: 15px; /* 패딩 추가 */
  margin-bottom: 20px; /* 푸터와의 간격 확보 */
  border: 1px solid #ccc; /* 섹션 경계 표시 */
  background-color: #f8f9fa; /* 배경색 설정 */
}

.review-section h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.review-section p {
  min-height: 80px; /* 최소 높이를 지정하여 내용이 잘리는 것을 방지 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤바를 표시 */
  white-space: normal; /* 내용이 자동으로 줄 바뀜되도록 */
  margin-bottom: 12px; /* 리뷰 간 간격 */
  padding: 10px; /* 패딩 추가로 가독성 향상 */
  border: 1px solid #ccc; /* 경계선 추가로 리뷰 구분 명확히 */
  background-color: #f8f9fa; /* 배경색 추가 */
}

.scrollable-container {
  max-height: 800px; /* Adjust based on your preference */
  overflow-y: scroll;
}

.restaurant-item,
.selected-restaurant-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.trash-button {
  margin-left: 10px;
}
